<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nerfli</title>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/usuarios.css">
    <link rel="stylesheet" href="/stylesheets/uikit.min.css">

    <script src="/javascripts/uikit-icons.min.js" ></script>
    <script src="/javascripts/uikit.min.js" ></script>
    <script src="/javascripts/detalle.js" ></script>
    <script src="/javascripts/buscadorusuarios.js" ></script>

    
  </head>
  <body>
    <header>
    
 <%- include('./partials/navBar.ejs') %> 
    </header>
    <main>
<br><br>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Busca un usuario...">

<ul id="myUL">
  <% for(let i = 0; i < resultados.length; i++){ %>
    <li>
     <a href="/movies/userDetail/<%= resultados[i].username%>/<%= resultados[i].email %>/<%= resultados[i].birthdate %>  " class="uk-text-secondary">
         <p><%= resultados[i].username %> </p>
      </a>
    </li>
    
  <% } %>     
</ul>




<br><br>

<h2>Buscar usuarios:</h2>
<form class="" action="/movies/userList" method="GET">
    <input class="query" type="text" name="query" value="">
    <button class="" type="submit" name="button">Buscar</button>
</form> 

<br><br>

        <% for(let i = 0; i < resultados.length; i++){ %>
            <li>
             <a href="/movies/userDetail/<%= resultados[i].username%>/<%= resultados[i].email %>/<%= resultados[i].birthdate %>  " class="uk-text-secondary">
                 <p><%= resultados[i].username %> </p>
              </a>
            </li>
            
          <% } %>     

    </main>

  </body>
  <%-include('./partials/footer.ejs')  %> 
</html>
