<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nerfli</title>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/usuarios.css">
    <link rel="stylesheet" href="/stylesheets/uikit.min.css">
    <link rel="stylesheet" href="/stylesheets/buscadorusuarios.css">


    <script src="/javascripts/uikit-icons.min.js" ></script>
    <script src="/javascripts/uikit.min.js" ></script>
    <script src="/javascripts/detalle.js" ></script>
    <script src="/javascripts/buscadorusuarios.js" ></script>

    
  </head>
  <body>
    <header>
    
 <%- include('./partials/navBar.ejs') %> 
    </header>
    <main>
<br><br>


<h2>Buscar usuarios:</h2>
<br>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Busca por usuario o email">

<ul id="myUL">
  <% for(let i = 0; i < resultados.length; i++){ %>
    <li>
     <a href="/movies/userDetail/<%= resultados[i].username%>/<%= resultados[i].email %>/<%= resultados[i].birthdate %>/ <%= resultados[i].id  %>  " class="uk-text-secondary">
         <p><%= resultados[i].username %> </p>
         <p><%= resultados[i].email %> </p>
      </a>
    </li>
  <% } %>     
</ul>
<p id="acaIriaElTextoSiNoHayNada" style="color: black;"></p>




<br><br>




    </main>

  </body>
  <%-include('./partials/footer.ejs')  %> 
</html>
