<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nerfli</title>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/usuarios.css">
    <link rel="stylesheet" href="/stylesheets/uikit.min.css">
    <link rel="stylesheet" href="/stylesheets/botoncito.css">


    <script src="/javascripts/uikit-icons.min.js" ></script>
    <script src="/javascripts/uikit.min.js" ></script>
    <script >
      function goBack() {
  window.history.back()
}
    </script>
   
  </head>
  <body>
    <header>
    
 <%- include('./partials/navBar.ejs') %> 
    </header>
    <main>
      <H1>Esta es la informacion de <%= username %> </H1>
<br>
      <h2> Su email es: <%= email %> <br><br><br>
            Su fecha de nacimiento es el:<%= birthdate %> 
      </h2>

  <br>
  <h2>Sus reseñas:</h2>


  <% for( let i = 0; i < resultados.length; i++ ) { %>
    <p><%= resultados[i].Review.score %> </p> 
    <% } %>
<br>




      <button onclick="goBack()" class="botoncito">Go Back</button>
      
         
    </main>

  </body>
  <%-include('./partials/footer.ejs')  %> 
</html>
